* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.3s;
}

body.dark {
  background: #1b1b1b;
  color: white;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 380px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transition: 0.3s;
}

body.dark .container {
  background: #2a2a2a;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#themeToggle {
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.controls {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

input, select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #aaa;
}

button {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #3a86ff;
  color: white;
}

button:hover {
  background: #2667d1;
}

.clear-btn {
  background: #dc3545;
  margin: 20px;
  
}
.clear-btn:hover {
  background: #b02a37;
}

.dice-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.dice {
  width: 50px;
  height: 50px;
  background: white;
  border: 3px solid #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  animation-duration: 0.4s;
}

body.dark .dice {
  background: #444;
  border-color: #eee;
  color: white;
}

@keyframes roll {
  0% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(90deg) scale(1.2); }
  50% { transform: rotate(180deg) scale(0.9); }
  75% { transform: rotate(270deg) scale(1.1); }
  100% { transform: rotate(360deg) scale(1); }
}

.result-box {
  background: #e8f0fe;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

body.dark .result-box {
  background: #333;
  color: #fff;
}

.history {
  max-height: 120px;
  overflow-y: auto;
  padding-left: 15px;
}
