* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: linear-gradient(120deg, #0f0c29, #302b63, #24243e);
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: white;
    justify-content: center;
    text-align: center;
}

.game-container {
    width: 700px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    
}

.card {
    width: 200px;
    height: 200px;
    position: relative;     /* IMPORTANT FIX */
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.4s;
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

    position: absolute;      /* stays inside card */
    top: 0;
    left: 0;

    backface-visibility: hidden;
}


.front {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card.matched {
    opacity: 0.6;
    pointer-events: none;
}

#restartBtn {
    position: absolute;       /* Absolute positioning */
    top: 20px;                /* Distance from top */
    right: 20px;              /* Distance from right */
    padding: 12px 26px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    background: linear-gradient(135deg, #2563eb, #1e40af);
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px #1d4ed8;
    transition: 0.3s;
    z-index: 100;             /* Make sure it's on top of other elements */
}

#restartBtn:hover {
    background: linear-gradient(135deg, #1e3a8a, #1e40af);
    box-shadow: 0 0 14px #3b82f6;
}



.scoreboard {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
}
