body {
    background: linear-gradient(135deg, #f9f9f9, #e7e7e7);
    font-family: Poppins, sans-serif;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 5px;
}

#rgbDisplay {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 15px;
}

#controls {
    margin-bottom: 15px;
}

#controls button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background: #ddd;
    cursor: pointer;
    transition: 0.3s;
}

#controls .active {
    background: #444;
    color: white;
}

#controls button:hover {
    background: #bbb;
}

#container {
    width: 40%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.colorBox {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

.colorBox:hover {
    transform: scale(1.05);
}

#resetBtn {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    background: #333;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#resetBtn:hover {
    background: #555;
}

#message {
    margin-top: 12px;
    font-size: 1.3rem;
    font-weight: bold;
}
