*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    max-width: 600px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.note-input{
    display:flex;
    flex-direction:column;
    gap: 10px;
}

textarea{
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button{
    padding: 12px;
    background: #4b7bec;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: #3867d6;
}

.notes-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

.note {
background: white;
padding: 15px;
border-radius: 8px;
border-left: 6px solid #4b7bec;
word-wrap: break-word;
position: relative;
}
.delete-btn {
position: absolute;
top: 10px;
right: 10px;
background: #ff4d4d;
color: white;
padding: 5px 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}

h2{
    text-align: center;
    margin: 20px;
}